<div class="container-fluid bg-1 text-center">
  
	<h1 class="margin">Aves y Zonas</h1>
</div>

<div class="bg-3">
  <div class="row">
    <div class="col-sm-3">
		<div class="container-fluid bg-3">
		  <h2 [hidden]="!updating" >Editar Ave</h2>
		  <h2 [hidden]="updating" >Crear Ave</h2>
		  <form name="editForm"  (ngSubmit)="guardar()">
			<div class="form-group">
			  <label for="text">Codigo:</label>
			  <input type="text" class="form-control" id="fcodigo" placeholder="Codigo" name="codigo" [(ngModel)]="ave.codigo" [readonly]="updating" >
			</div>
			<div class="form-group">
			  <label for="text">Nombre Comun:</label>
			  <input type="text" class="form-control" id="fnombreComun" placeholder="Nombre Comun" name="nombreComun" [(ngModel)]="ave.nombreComun" >
			</div>
			<div class="form-group">
			  <label for="text">Nombre Cientifico:</label>
			  <input type="text" class="form-control" id="fnombreCientifico" placeholder="Nombre Cientifico" name="nombreCientifico" [(ngModel)]="ave.nombreCientifico" >
			</div>
			<div class="form-group">
			  <label for="paises">Paises:(Usar control y shift)</label>
			  <select multiple class="form-control" id="fpaises" name="paises" [(ngModel)]="ave.paises" >
				<option [ngValue]="getSelected(ave.paises, pais)" *ngFor="let pais of paises; trackBy: trackPaisesByCodigo" >
						{{pais.nombre}}
					</option>
			  </select>
			</div>
			  <div class="container-fluid text-center">
				<button type="submit" class="btn btn-primary">Guardar</button><button type="button" class="btn btn-danger" (click) = "loadAll()" >Limpiar</button>
			  </div>
		  </form>
		</div>
    </div>
    <div class="col-sm-9"> 
		  <h2>Aves</h2>
		 <div class="row">
    		<div class="col-sm-6">
				<button type="submit" class="btn btn-primary" (click) = "loadAll()" >Cragar Todo</button>
			</div>
			<div class="col-sm-6">
				<div class="container-fluid text-right">   
			  <form class="form-inline" #buscarAves = "ngForm" (ngSubmit) = "buscar(buscarAves.value)">
				
				<label for="zona">Zona: </label>
				<select class="form-control" id="zona" placeholder="Zona" name="zona" ngModel>
					<option *ngFor="let zona of zonas" [value]="zona.nombre">
						{{zona.nombre}}
					</option>
				</select>
				<label for="nombre">Nombre: </label>
				<input type="text" class="form-control" placeholder="Nombre" id="nombre" name="nombre" ngModel>
				<button type="submit" class="btn btn-primary">Buscar</button>
			  </form>
			</div> 
			</div>
		</div>
		
			
		
		  <table class="table table-hover">
			<thead>
			  <tr>
				<th>Codigo</th>
				<th>Nombre Comun</th>
				<th>Nombre Cientifico</th>
				<th>Paises</th>
				<th>Acciones</th>
			  </tr>
			</thead>
			<tbody>
			  <tr *ngFor= "let ave of aves">
				<td>{{ ave.codigo }}</td>
				<td>{{ ave.nombreComun }}</td>
				<td>{{ ave.nombreCientifico }}</td>
				  <td>
					<ul class="list-inline" *ngFor= "let pais of ave.paises" >
					  <li >{{ pais.nombre }} - {{ pais.zona.nombre }}</li>
					</ul>
				</td>
				<td>
				  <div class="btn-group btn-group-sm">
					<button type="button" class="btn btn-primary" (click) = "getAve(ave.codigo)">Editar</button>
					<button type="button" class="btn btn-danger" (click) = "eliminar(ave.codigo)" >Eliminar</button>
				  </div>
				</td>	
			  </tr>
			</tbody>
		  </table>
		
    </div>
  </div>
</div>


